# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# CLIP model cache
~/.cache/clip/
*.pt
*.pth

# env
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# upload test image
*.jpg
*.jpeg
*.png
*.gif
*.webp
